<div class="jumbotron">
  <div class="search_wrap">
  <div class="search_input">
  <input type="search" placeholder="Enter your location" name="loc" [(ngModel)]="loc"/>
  <div class="search_btn"><button (click)="getL()">Search</button></div>
  </div>
</div>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="#" (click)="findRestaurants()">Find restaurants near me</a></p>
</div>
<div *ngIf="rests">
  <div class="container">
    <!--h3 starts here----------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-md-12 col-xs-12">
  <h3 class="text-center">Search results for {{rests.location.title}}, {{rests.location.city_name}}</h3>
</div>
</div>
<!--h3 end here---------------------------------------------------------------------------------------------->
<div class="container">
<div class="row">
<div class="col-md-4 col-xs-12">
  <div class="card">
  <a target= "_blank" href="{{rests.nearby_restaurants[0]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[0]?.restaurant.name}}</h3></a>
  <div class="card-body">
    <h5 class="card-title">{{rests.nearby_restaurants[0]?.restaurant.cuisines}}</h5>
    <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[0]?.restaurant.location.address}}</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[0]?.restaurant.featured_image}}" alt="Card image">
  <div class="card-body">
    <div class="row">
    <div class="col-md-10 col-xs-10">
    <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
    <div class="col-md-2 col-xs-2">
      <span class="badge badge-dark">{{rests.nearby_restaurants[0]?.restaurant.user_rating.aggregate_rating}}</span>
    </div>
</div>
  </div>
  <div class="card-footer text-muted">
  Rs. {{rests.nearby_restaurants[0]?.restaurant.average_cost_for_two}}
  </div>
</div>
</div>

<div class="col-md-4 col-xs-12">
  <div class="card">
  <a target= "_blank" href="{{rests.nearby_restaurants[1]?.restaurant.url}}"><h3 class="card-header">{{this.rests.nearby_restaurants[1]?.restaurant.name}}</h3></a>
  <div class="card-body">
    <h5 class="card-title">{{rests.nearby_restaurants[1]?.restaurant.cuisines}}</h5>
    <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[1]?.restaurant.location.address}}</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[1]?.restaurant.featured_image}}" alt="Card image">
  <div class="card-body">
    <div class="row">
    <div class="col-md-10 col-xs-10">
    <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
    <div class="col-md-2 col-xs-2">
      <span class="badge badge-dark">{{rests.nearby_restaurants[1]?.restaurant.user_rating.aggregate_rating}}</span>
    </div>
</div>
  </div>
  <div class="card-footer text-muted">
  Rs. {{rests.nearby_restaurants[1]?.restaurant.average_cost_for_two}}
  </div>
</div>
</div>
<!---3---------->
<div class="col-md-4 col-xs-12">
  <div class="card">
  <a target= "_blank" href="{{rests.nearby_restaurants[2]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[2]?.restaurant.name}}</h3></a>
  <div class="card-body">
    <h5 class="card-title">{{rests.nearby_restaurants[2]?.restaurant.cuisines}}</h5>
    <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[2]?.restaurant.location.address}}</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[2]?.restaurant.featured_image}}" alt="Card image">
  <div class="card-body">
    <div class="row">
    <div class="col-md-10 col-xs-10">
    <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
    <div class="col-md-2 col-xs-2">
      <span class="badge badge-dark">{{rests.nearby_restaurants[2]?.restaurant.user_rating.aggregate_rating}}</span>
    </div>
</div>
  </div>
  <div class="card-footer text-muted">
  Rs. {{rests.nearby_restaurants[2]?.restaurant.average_cost_for_two}}
  </div>
</div>
</div>
</div>
<!--2nd row---------->
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[3]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[3]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[3]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[3]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[3]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[3]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[3]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>
  <!---5th----------->
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[4]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[4]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[4]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[4]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[4]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[4]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[4]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>
  <!--6th--->
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[5]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[5]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[5]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[5]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[5]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[5]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[5]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>
  <!--7th--->
</div>
<!--3rd row--->
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[6]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[6]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[6]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[6]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[6]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[6]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[6]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[7]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[7]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[7]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[7]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[7]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[7]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[7]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card">
    <a target= "_blank" href="{{rests.nearby_restaurants[8]?.restaurant.url}}"><h3 class="card-header">{{rests.nearby_restaurants[8]?.restaurant.name}}</h3></a>
    <div class="card-body">
      <h5 class="card-title">{{rests.nearby_restaurants[8]?.restaurant.cuisines}}</h5>
      <h6 class="card-subtitle text-muted">{{rests.nearby_restaurants[8]?.restaurant.location.address}}</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="{{rests.nearby_restaurants[8]?.restaurant.featured_image}}" alt="Card image">
    <div class="card-body">
      <div class="row">
      <div class="col-md-10 col-xs-10">
      <p class="card-text">{{rests.nearby_restaurants[0]?.restaurant.zomato_events[0]?.event.title}}</p></div>
      <div class="col-md-2 col-xs-2">
        <span class="badge badge-dark">{{rests.nearby_restaurants[8]?.restaurant.user_rating.aggregate_rating}}</span>
      </div>
  </div>
    </div>
    <div class="card-footer text-muted">
    Rs. {{rests.nearby_restaurants[8]?.restaurant.average_cost_for_two}}
    </div>
  </div>
  </div>


</div>
</div>
</div>
</div>
